<header class="navbar">

  <div class="navbar-left">

    <img
      src="/images/r3desk-logo.png"
      alt="R3Desk"
      class="logo">

  </div>

  <div class="navbar-center">

    <input
      type="text"
      placeholder="Buscar tickets..." />

  </div>

  <div class="navbar-right">

    <button class="icon-button">
      🔔
    </button>

    <div class="user-info">

      <div class="avatar">
        RA
      </div>

      <div>

        <div class="user-name">
          Roberth Angel
        </div>

        <div class="user-role">
          Supervisor
        </div>

      </div>

    </div>

  </div>

</header>