:host {
  display: block;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.login-container {
  height: 100vh;
  display: flex;
  font-family: Inter, sans-serif;
}

/* PANEL IZQUIERDO */

.brand-panel {
  flex: 1;
  position: relative;

  background:
    linear-gradient(
      135deg,
      #001845 0%,
      #003f88 45%,
      #00a6fb 100%
    );

  color: white;

  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;

  background:
    radial-gradient(
      circle at top right,
      rgba(255,255,255,.15),
      transparent 40%
    );
}

.brand-content {
  position: relative;
  z-index: 2;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5rem;
}

.logo {
  width: 280px;
  margin-bottom: 3rem;
}

.brand-content h1 {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.brand-content p {
  font-size: 1.1rem;
  opacity: .9;
  max-width: 600px;
}

.features {
  margin-top: 4rem;
}

.feature {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.feature span {
  font-size: 2rem;
}

/* PANEL DERECHO */

.login-panel {
  width: 520px;

  background: #f8fafc;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {

  width: 400px;

  background: white;

  padding: 3rem;

  border-radius: 24px;

  box-shadow:
    0 10px 40px rgba(0,0,0,.08);
}

.icon-logo {
  width: 80px;
  display: block;
  margin: auto;
}

.login-card h2 {
  text-align: center;
  margin-top: 1rem;

  color: #001845;

  font-size: 2rem;
}

.subtitle {
  text-align: center;
  color: #64748b;
  margin-bottom: 2rem;
}

.field {
  margin-bottom: 1.5rem;
}

.field label {
  display: block;
  margin-bottom: .5rem;

  font-weight: 600;

  color: #334155;
}

.field input {

  width: 100%;

  padding: 14px;

  border: 1px solid #cbd5e1;

  border-radius: 12px;

  font-size: 1rem;

  transition: .3s;
}

.field input:focus {

  outline: none;

  border-color: #1d4ed8;

  box-shadow:
      0 0 0 4px
      rgba(37,99,235,.15);
}

button {

  width: 100%;

  border: none;

  border-radius: 12px;

  padding: 14px;

  cursor: pointer;

  font-size: 1rem;

  font-weight: 600;

  color: white;

  background:
      linear-gradient(
      90deg,
      #0057ff,
      #00a6fb
      );

  transition: .3s;
}

button:hover {
  transform: translateY(-2px);
}

.error {

  margin-bottom: 1rem;

  color: #dc2626;

  font-size: .9rem;
}

.footer {
  text-align: center;
  margin-top: 2rem;
  color: #94a3b8;
}

/* RESPONSIVE */

@media (max-width: 992px) {

  .brand-panel {
    display: none;
  }

  .login-panel {
    width: 100%;
  }

}